header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 10;
	background: $secondary-color;
	width: 100%;
	transition: all 0.4s ease;

	.icon {
		position: relative;
		width: 5rem;
		height: 5rem;
		background: url('../img/icon.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: all 0.4s ease;
	}

	/* Left side of navbar, tablets-desktops */
	.left {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: left;

		/* Shown on small devices */
		.mob-menu-wrapper {
			display: none;
		}
	}
	/* Used for page/feature navigation */
	ul {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
		li {
			padding: 1rem 1rem;
			list-style: none;
			cursor: pointer;
			&:hover {
				color: rgb(54, 28, 28);
			}
		}
	}

	/* Search field */
	form {
		.search {
			background-color: transparent;
			border: 2px solid $primary-color;
			border-radius: 50px;
			font-family: inherit;
			font-size: 1rem;
			padding: 0.5rem 1rem;
			color: white;
			transition: all 0.3s ease;
			&::placeholder {
				color: $primary-color;
				opacity: 1;
			}
			&:focus {
				outline: none;
				background-color: $primary-color;
				&::placeholder {
					color: $secondary-color;
				}
			}
		}
	}

	&.scrolled {
		padding: 0rem 1rem 0rem 0.2rem;
		.left {
			.icon.desktop {
				width: 3rem;
				height: 3rem;
			}
		}
	}

	.mobile-menu-opener {
		position: absolute;
		right: 0;
		height: 100%;
		width: 4rem;
		display: none;
		justify-content: center;
		align-items: center;
		.bar {
			position: relative;
			background: $primary-color;
			width: 20%;
			height: 2px;
			transform: translateY(-1px);
			transition: all 0.5s ease;
		}
		&::after,
		&::before {
			content: '';
			position: absolute;
			height: 2px;
			width: 40%;
			background: $primary-color;
			transition: all 0.25s ease;
		}
		&::after {
			transform: translateY(calc(-0.5rem - 1px));
		}
		&::before {
			transform: translateY(calc(0.5rem - 1px));
		}
		&.open::after,
		&.open::before {
			top: 50%;
		}
		&.open::after {
			transform: translateY(-1px) rotate(-45deg) scaleX(1.5);
		}
		&.open::before {
			transform: translateY(-1px) rotate(45deg) scaleX(1.5);
		}
		&.open .bar {
			width: 0%;
		}
	}

	/* Mobile menu */
	.mob-menu-wrapper {
		position: fixed;
		top: 0;
		left: -100%;
		height: 200%;
		width: 100%;
		transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		background: $secondary-color;

		.mob-menu-container {
			height: 100%;
			max-height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&.open {
			left: 0;
		}

		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-bottom: 2rem;
			li {
				padding-top: 1.2rem;
				padding-bottom: 1.2rem;
			}
		}

		#mob-search {
			max-width: 90%;
			.search {
				width: 100%;
			}
		}
	}

	/* Alter the size of the search button */
	@media screen and (max-width: 43rem) {
		#form {
			width: 40%;
			.search {
				width: 100%;
			}
		}
	}
	/* Make the navbar smaller */
	@media screen and (max-width: 38rem) {
		padding: 0rem 1rem 0rem 0.2rem;

		.left .icon {
			width: 3rem;
			height: 3rem;
		}
	}
	/* Change to mobile menu, remove search */
	@media screen and (max-width: 28rem) {
		padding: 0.5rem 1rem 0.5rem 0.2rem;
		&.scrolled {
			padding: 0.5rem 1rem 0.5rem 0.2rem;
		}
		.mobile-menu-opener {
			display: flex;
		}
		.icon.mobile {
			width: 4rem;
			height: 4rem;
			margin-bottom: 2rem;
		}
		.left {
			.mob-menu-wrapper {
				display: block;
			}

			.menu-wrapper {
				display: none;
				background: rgb(255, 0, 0);
			}
		}

		#form {
			display: none;
		}
	}
}
