.media {
	width: 15rem;
	height: 30rem;
	margin: 1rem;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	border-radius: 0.3rem;
	background-color: $secondary-color;

	img {
		width: 100%;
	}

	.info {
		color: #eee;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 1rem 1rem;
		letter-spacing: 0.5px;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: $secondary-color;

		h3 {
			margin: 0;
			height: 100%;
		}

		span {
			background-color: $primary-color;
			padding: 0.25rem 0.5rem;
			border-radius: 3px;
			font-weight: bold;
			align-self: flex-end;
			margin-left: 0.4rem;

			&.green {
				color: rgba(98, 221, 98, 0.829);
			}
			&.yellow {
				color: rgba(218, 175, 35, 0.972);
			}
			&.red {
				color: rgba(240, 74, 74, 0.924);
			}
		}
	}

	.overview {
		position: absolute;
		background-color: #fff;
		padding: 2rem;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		max-height: 100%;
		transform: translateY(101%);
		transition: all 0.3s ease-in-out;
	}
	&:hover .overview {
		transform: translateY(0%);
	}

	@media screen and (max-width: $mobile-width-bounds) {
		width: 80%;
	}
}
