.media {
	width: 15rem;
	height: auto;
	margin: 1rem;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	border-radius: 0.3rem;
	background-color: $secondary-color;
	cursor: pointer;

	&:focus,
	&:active {
		outline: none;
		background-color: none;
		background: none;
	}

	img {
		width: 100%;
		transition: all 0.6s ease-out;
	}

	&:hover {
		img {
			scale: 1.1;
		}
		.info {
			bottom: 0;
			opacity: 1;
			height: 100%;
		}
	}

	.info {
		opacity: 0;
		color: #eee;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1rem 1rem;
		letter-spacing: 0.5px;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: rgba(255, 255, 255, 0.712);
		height: 0;
		bottom: 0;
		transition: all 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);

		h3 {
			margin: 0;
			text-align: center;
			color: $primary-color;
			text-transform: uppercase;
			font-weight: 900;
		}

		button.popup {
			position: absolute;
			border: none;
			height: 50%;
			min-height: 5rem;
			width: 100%;
			font-family: 'Poppins', sans-serif;
			font-weight: bolder;
			font-size: 1.3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 0px;
			cursor: pointer;
			overflow: hidden;
			background: transparent;

			&:focus,
			&:active {
				outline: none;
			}
			&::after {
				position: absolute;
				content: '^';
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				transform: scaleX(2.3);
			}
		}
	}

	span {
		position: absolute;
		background-color: $primary-color;
		padding: 0.25rem 0.5rem;
		border-radius: 3px;
		font-weight: bold;
		align-self: flex-end;
		justify-self: end;
		top: 15px;
		right: 15px;
		font-size: 1.1rem;

		&.green {
			color: rgba(98, 221, 98, 0.829);
		}
		&.yellow {
			color: rgba(218, 175, 35, 0.972);
		}
		&.red {
			color: rgba(240, 74, 74, 0.924);
		}
	}

	.overview {
		position: absolute;
		background-color: #fff;
		padding: 2rem;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		max-height: 100%;
		transform: translateY(101%);
		transition: all 0.3s ease-in-out;
	}

	@media screen and (max-width: $mobile-width-bounds) {
		width: 80%;
	}
}
