@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
.media {
  width: 15rem;
  height: 30rem;
  margin: 1rem;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: #a4161a;
}

.media img {
  width: 100%;
}

.media .info {
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #a4161a;
}

.media .info h3 {
  margin: 0;
  height: 100%;
}

.media .info span {
  background-color: #161a1d;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 0.4rem;
}

.media .info span.green {
  color: rgba(98, 221, 98, 0.829);
}

.media .info span.yellow {
  color: rgba(218, 175, 35, 0.972);
}

.media .info span.red {
  color: rgba(240, 74, 74, 0.924);
}

.media .overview {
  position: absolute;
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.media:hover .overview {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media screen and (max-width: 28rem) {
  .media {
    width: 80%;
  }
}

header {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  background: #a4161a;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /* Left side of navbar, tablets-desktops */
  /* Used for page/feature navigation */
  /* Search field */
  /* Mobile menu */
  /* Alter the size of the search button */
  /* Make the navbar smaller */
  /* Change to mobile menu, remove search */
}

header .icon {
  position: relative;
  width: 5rem;
  height: 5rem;
  background: url("../img/icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  /* Shown on small devices */
}

header .left .mob-menu-wrapper {
  display: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 1rem 1rem;
  list-style: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header ul li.active {
  color: #dbeeda;
}

header ul li.active:hover {
  color: #dbeeda;
}

header ul li:hover {
  color: #312b2b;
}

header form .search {
  background-color: transparent;
  border: 2px solid #161a1d;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header form .search::-webkit-input-placeholder {
  color: #161a1d;
  opacity: 1;
}

header form .search:-ms-input-placeholder {
  color: #161a1d;
  opacity: 1;
}

header form .search::-ms-input-placeholder {
  color: #161a1d;
  opacity: 1;
}

header form .search::placeholder {
  color: #161a1d;
  opacity: 1;
}

header form .search:focus {
  outline: none;
  background-color: #161a1d;
}

header form .search:focus::-webkit-input-placeholder {
  color: #a4161a;
}

header form .search:focus:-ms-input-placeholder {
  color: #a4161a;
}

header form .search:focus::-ms-input-placeholder {
  color: #a4161a;
}

header form .search:focus::placeholder {
  color: #a4161a;
}

header.scrolled {
  padding: 0rem 1rem 0rem 0.2rem;
}

header.scrolled .left .icon.desktop {
  width: 3rem;
  height: 3rem;
}

header .mobile-menu-opener {
  position: absolute;
  right: 0;
  height: 100%;
  width: 4rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mobile-menu-opener .bar {
  position: relative;
  background: #161a1d;
  width: 20%;
  height: 2px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

header .mobile-menu-opener::after, header .mobile-menu-opener::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 40%;
  background: #161a1d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .mobile-menu-opener::after {
  -webkit-transform: translateY(calc(-0.5rem - 1px));
          transform: translateY(calc(-0.5rem - 1px));
}

header .mobile-menu-opener::before {
  -webkit-transform: translateY(calc(0.5rem - 1px));
          transform: translateY(calc(0.5rem - 1px));
}

header .mobile-menu-opener.open::after, header .mobile-menu-opener.open::before {
  top: 50%;
}

header .mobile-menu-opener.open::after {
  -webkit-transform: translateY(-1px) rotate(-45deg) scaleX(1.5);
          transform: translateY(-1px) rotate(-45deg) scaleX(1.5);
}

header .mobile-menu-opener.open::before {
  -webkit-transform: translateY(-1px) rotate(45deg) scaleX(1.5);
          transform: translateY(-1px) rotate(45deg) scaleX(1.5);
}

header .mobile-menu-opener.open .bar {
  width: 0%;
}

header .mob-menu-wrapper {
  position: fixed;
  top: 0;
  left: -100%;
  height: 200%;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background: #a4161a;
}

header .mob-menu-wrapper .mob-menu-container {
  height: 100%;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .mob-menu-wrapper.open {
  left: 0;
}

header .mob-menu-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

header .mob-menu-wrapper ul li {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

header .mob-menu-wrapper #mob-search {
  max-width: 70%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

header .mob-menu-wrapper #mob-search .search {
  width: 100%;
}

@media screen and (max-width: 43rem) {
  header #form {
    width: 40%;
  }
  header #form .search {
    width: 100%;
  }
}

@media screen and (max-width: 38rem) {
  header {
    padding: 0rem 1rem 0rem 0.2rem;
  }
  header .left .icon {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 28rem) {
  header {
    padding: 0.5rem 1rem 0.5rem 0.2rem;
  }
  header.scrolled {
    padding: 0.5rem 1rem 0.5rem 0.2rem;
  }
  header .mobile-menu-opener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .icon.mobile {
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
  }
  header .left .mob-menu-wrapper {
    display: block;
  }
  header .left .menu-wrapper {
    display: none;
    background: red;
  }
  header #form {
    display: none;
  }
}

section.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  background: #161a1d;
}

section.filters .container {
  width: 100%;
  background: #88090d;
  border-radius: 5px;
  padding: 1rem 1rem 0rem 1rem;
}

section.filters form#filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

section.filters form#filters button {
  margin: 1rem 0rem 1rem 1rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

section.filters form#filters .field-wrapper {
  position: relative;
  height: 50px;
  width: 100%;
  border: 1px solid #161a1d;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

section.filters form#filters .field-wrapper:not(:last-of-type) {
  border-bottom: 0;
}

section.filters form#filters .field-wrapper .field-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  overflow: hidden;
  height: 0;
  padding: 0;
  opacity: 0;
  top: 50px;
  -webkit-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 1;
  cursor: auto;
  margin: 1rem;
}

section.filters form#filters .field-wrapper .field-container .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

section.filters form#filters .field-wrapper .field-container input[type='range'] {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

section.filters form#filters .field-wrapper .field-container input.value {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50px;
  padding: 5px 8px;
  text-align: center;
  background: #dbeeda;
  border: none;
  color: #161a1d;
  border-radius: 5px;
  margin-left: 0.5rem;
  font-size: 1rem;
}

@media screen and (max-width: 28rem) {
  section.filters form#filters .field-wrapper .field-container {
    margin: 0.5rem;
  }
  section.filters form#filters .field-wrapper .field-container .text {
    display: none;
  }
}

section.filters form#filters .field-wrapper.open {
  height: 170px;
}

section.filters form#filters .field-wrapper.open .expand {
  height: 50px;
}

section.filters form#filters .field-wrapper.open .field-container {
  top: 50px;
  height: auto;
  opacity: 1;
}

section.filters form#filters .field-wrapper.open .field-header .expand::after {
  -webkit-transform: scaleX(2) rotate(0deg);
          transform: scaleX(2) rotate(0deg);
}

section.filters form#filters .field-wrapper .field-header {
  background: rgba(0, 0, 0, 0.07);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  top: 0;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

section.filters form#filters .field-wrapper .field-header .checkbox {
  position: absolute;
  right: 0;
}

section.filters form#filters .field-wrapper .field-header:hover {
  background: rgba(0, 0, 0, 0.1);
}

section.filters form#filters .field-wrapper .field-header .text {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: attr(data-text);
}

section.filters form#filters .field-wrapper .field-header .expand {
  position: relative;
  width: 50px;
  height: calc(100% - 1px);
  font-weight: 900;
}

section.filters form#filters .field-wrapper .field-header .expand::after {
  content: '^';
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform: scaleX(2) rotate(180deg);
          transform: scaleX(2) rotate(180deg);
}

@media screen and (max-width: 38rem) {
  section.filters {
    padding-top: 5.5rem;
  }
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  height: 30px;
  width: 55px;
  margin: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox input:checked ~ .real-check {
  background-color: #161a1d;
}

.checkbox input:checked ~ .real-check::after {
  background: #f01d24;
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.checkbox .real-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  background-color: #161a1d;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.checkbox .real-check::after {
  position: absolute;
  content: '';
  border-radius: 50%;
  left: 2px;
  top: 2px;
  height: 26px;
  width: 26px;
  background: #910005ab;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 8px;
  background: #161a1d;
  border-radius: 10px;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #dbeeda;
  border: 3px solid #161a1d;
  cursor: pointer;
  border-radius: 50%;
}

input[type='range']::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #dbeeda;
  border-radius: 50%;
  border: 3px solid #161a1d;
  cursor: pointer;
}

button.round {
  border: 1px solid #161a1d;
  background: none;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

button.round:hover {
  color: #a4161a;
  background: #161a1d;
}

section.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9rem 1rem 0 1rem;
  background: #161a1d;
}

section.sort .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: #88090d;
  padding: 1rem;
  border-radius: 0.3rem;
  /* Select taken from Raul Barrera https://codepen.io/raubaca/pen/VejpQP */
  /* Remove IE arrow */
  /* Custom Select */
}

section.sort .container button {
  margin: 1rem 0rem 0rem 1rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

section.sort .container .params {
  width: 100%;
}

section.sort .container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #161a1d;
  background-image: none;
}

section.sort .container select::-ms-expand {
  display: none;
}

section.sort .container .select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #161a1d;
  overflow: hidden;
  border-radius: 0.25em;
  margin-top: 0.5rem;
}

section.sort .container .select * {
  font-family: 'Poppins', sans-serif;
}

section.sort .container .select select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  color: #dbeeda;
  cursor: pointer;
}

section.sort .container .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #161a1d;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

section.sort .container .select:hover::after {
  color: #88090d;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #a4161a;
  margin: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #161a1d;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 1rem 2rem 1rem;
  min-height: 100vh;
}
/*# sourceMappingURL=style.css.map */