@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$primary-color: #161a1d;
$secondary-color: #a4161a;
$secondary-color2: rgb(185, 24, 30);
$accent-light: #dbeeda;

$mobile-width-bounds: 28rem;
$tablet-width-bounds: 38rem;

$filter-box-height: 50px;

@import '_media';
@import '_header';
@import '_filters';
@import '_controls';
@import '_sort';

* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: $secondary-color;
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	background-color: $primary-color;
	justify-content: space-evenly;
	padding: 2rem 1rem 2rem 1rem;
	min-height: 100vh;
}
