@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$primary-color: #161a1d;
$secondary-color: #a4161a;
$secondary-color2: rgb(185, 24, 30);
$accent-light: #dbeeda;

$mobile-width-bounds: 28rem;
$tablet-width-bounds: 38rem;

$filter-box-height: 50px;

@import '_media';
@import '_header';
@import '_filters';
@import '_controls';
@import '_sort';

* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: $secondary-color;
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	background-color: $primary-color;
	justify-content: space-evenly;
	padding: 2rem 1rem 2rem 1rem;
	min-height: 100vh;
}

#pages {
	width: 100%;
	height: auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	.page-selection {
		max-width: calc(min(50%, 10rem));
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.page {
			padding: 1rem 1.2rem;
			cursor: pointer;
			color: $primary-color;
			transition: all 0.25s ease;
			border: none;
			background: none;
			font-family: 'Poppins', sans-serif;
			font-size: 1.2rem;

			&.active-page {
				color: $accent-light;
			}

			&:hover {
				color: $accent-light;
			}
		}
	}
}

section.search-term {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background: $primary-color;
	display: none;
	.search {
		background: $secondary-color;
		width: calc(min(30rem, 90%));
		height: 3rem;
		border-radius: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		transition: all 0.4s ease;
		cursor: pointer;

		&:hover {
			background: $secondary-color2;
		}

		.text {
			font-family: 'Poppins', sans-serif;
			margin-inline: 1rem;
			color: $accent-light;
		}

		.close {
			position: relative;
			right: 10px;
			border-radius: 50%;
			height: 3rem;
			width: 5rem;

			&::after {
				display: flex;
				justify-content: center;
				align-items: center;
				content: 'x';
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				height: 100%;
				transform: scaleX(2) translateY(-1px);
				color: $accent-light;
			}
		}
	}
}

#popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #312d2dfb;
	z-index: 100;
	top: -200vh;
	left: 0;
	transition: all 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	#popup-close-icon {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 3.8rem;
		height: 3.8rem;
		cursor: pointer;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.315);

		&:hover::after,
		&:hover::before {
			opacity: 0.6;
		}

		&::after,
		&::before {
			background: $accent-light;
			content: '';
			position: absolute;
			width: 60%;
			height: 60%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.4s ease;
		}
		&::after {
			width: 2px;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::before {
			width: 2px;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.container {
		max-width: 100%;
		width: 100%;
		max-height: 100%;
		height: 100%;

		.banner {
			position: relative;
			top: 0;
			left: 0;
			z-index: -1;
			max-height: 30vh;
			overflow: hidden;
			img {
				top: -50%;
				width: 100%;
				max-width: 100%;
			}
		}
		@media screen and (min-width: $tablet-width-bounds) {
			.banner {
				max-height: 45vh;
			}
		}
		.title {
			position: relative;
			text-transform: uppercase;
			font-weight: 900;
			width: 100%;
			margin: 1.2rem 1.4rem;
		}
		*:not(.banner):not(img) {
			margin: 1rem;
			color: $accent-light;
			max-width: calc(min(100%, 60rem));
		}

		.votes {
			position: absolute;
			display: flex;
			flex-direction: row;
			i {
				margin: 0;
			}
			span {
				&.green {
					color: rgba(98, 221, 98, 0.829);
				}
				&.yellow {
					color: rgba(218, 175, 35, 0.972);
				}
				&.red {
					color: rgba(240, 74, 74, 0.924);
				}
			}
		}
	}

	&.open {
		top: 0;
	}
}
