@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

$primary-color: #161a1d;
$secondary-color: #a4161a;
$secondary-color2: rgb(185, 24, 30);
$accent-light: #dbeeda;

$mobile-lower-width-bounds: 19rem;
$mobile-width-bounds: 28rem;
$tablet-width-bounds: 38rem;

$filter-box-height: 50px;

@import '_media';
@import '_header';
@import '_filters';
@import '_controls';
@import '_sort';
@import '_popup';

* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: $secondary-color;
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	background-color: $primary-color;
	justify-content: space-evenly;
	padding: 2rem 1rem 2rem 1rem;
	min-height: 100vh;
}

#pages {
	width: 100%;
	height: auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	.page-selection {
		max-width: calc(min(50%, 10rem));
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		button {
			padding: 1rem 1.2rem;
			cursor: pointer;
			color: $primary-color;
			transition: all 0.25s ease;
			border: none;
			background: none;
			font-family: 'Poppins', sans-serif;
			font-size: 1.2rem;

			&.active-page {
				color: $accent-light;
			}

			&:hover {
				color: $accent-light;
			}
		}
	}
}

section.search-term {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background: $primary-color;
	display: none;
	.search {
		background: $secondary-color;
		width: calc(min(30rem, 90%));
		height: 3rem;
		border-radius: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		transition: all 0.4s ease;
		cursor: pointer;

		&:hover {
			background: $secondary-color2;
		}

		.text {
			font-family: 'Poppins', sans-serif;
			margin-inline: 1rem;
			color: $accent-light;
		}

		.close {
			position: relative;
			right: 10px;
			border-radius: 50%;
			height: 3rem;
			width: 5rem;

			&::after {
				display: flex;
				justify-content: center;
				align-items: center;
				content: 'x';
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				height: 100%;
				transform: scaleX(1.3) translateY(-1px);
				color: $accent-light;
			}
		}
	}
}

#loader {
	position: fixed;
	opacity: 0;
	top: 25rem;
	left: 50%;
	transition: all 0.5s ease;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background: $secondary-color;
	z-index: -1;
	animation: pulseA 2s infinite ease both;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.52);
		border-radius: 50%;
		animation: pulseB 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
		left: 50%;
		top: 50%;
		z-index: 1;
		transform: translate(-50%, -50%) scale(2.2);
	}

	&.visible {
		opacity: 1;
		z-index: 1000;
	}

	@media screen and (max-width: $tablet-width-bounds) {
		top: 15rem;
	}
}

@keyframes pulseA {
	0% {
		transform: translate(-50%, -50%) scale(1.09);
		background: #a4161b9f;
	}
	50% {
		transform: translate(-50%, -50%) scale(0.9);
		background: #161a1db9;
	}
	100% {
		transform: translate(-50%, -50%) scale(1.09);
		background: #a4161b9f;
	}
}

@keyframes pulseB {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		transform: translate(-50%, -50%) scale(0.1);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes panImg {
	0%,
	100% {
		transform: translateY(0%) scale(1);
	}
	50% {
		transform: translateY(0%) scale(1.2);
	}
}
